body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, p {
    margin: 0;
}

input {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.numbers {
    border: none;
    background: none;
    color: #3A83F0;
    margin-left: 100px;
    font-size: 25px;
    text-decoration-line: underline;
}

.content {
    position: static;
    display: flex;
    align-items: flex-end;
}

.content-text {
    display: flex;
    position: absolute;
    margin-left: 100px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.arrow {
    margin-left: 450px;
}

.information {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 90px;
    color: #000;
    font-size: 45px;
}

.information-block {
    margin-left: 0px;
    margin-top: 45px;
    display: flex;
}

.INN_block {
    display: flex;
    margin-right: 20px;
}

.INN {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.INN_text {
    font-family: Roboto;
    font-style: normal;
    font-size: 40px;
}

.KPP_block {
    display: flex;
    font-size: 40px;
}

.KPP {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.adress_block {
    margin-left: 75px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 45px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.35px;
}

.adress-content {
    display: flex;
}

.adress {
    font-size: 40px;
}

.adresstext {
    font-size: 40px;
    margin-left: 0px;
    margin-top: 45px;
}

.partner_card {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 90px;
    color: #000;
    letter-spacing: 1.35px;
    font-size: 40px;
}

.downlad {
    display: flex;
}

.card-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.download-partner {
    position: relative;
    display: flex;
    flex-direction: column;
}

.download-partner .download-partnertext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.download-partner .download-partnertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.download-partner:hover .download-partnertext {
    visibility: visible;
    opacity: 1;
}

.download-card {
    border: none;
    background: none;
    color: #3A83F0;
    font-size: 25px;
    text-decoration-line: underline;
    margin-top: 11px;
    margin-left: 20px;
}

.card_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.activity-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.main_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.second-activity-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.second_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.details-content {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 90px;
    color: #000;
    letter-spacing: 1.35px;
    font-size: 40px;
}

.download {
    display: flex;
}

.download .downloadtext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.download .downloadtext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.download:hover .downloadtext {
    visibility: visible;
    opacity: 1;
}

.Download-details {
    border: none;
    background: none;
    color: #3A83F0;
    font-size: 25px;
    text-decoration-line: underline;
    margin-top: 11px;
}

.check-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.check_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.bank-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.bank_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.bik-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.bik_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    margin-top: 90px;
    color: #000;
    letter-spacing: 1.35px;
    font-size: 40px;
}

.director {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.director_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.phone {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.phone_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

.phone_number {
    position: relative;
    display: flex;
    flex-direction: column;
}

.phone_number .phone_number {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.phone_number .phone_numbertext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.phone_number:hover .phone_numbertext {
    visibility: visible;
    opacity: 1;
}

.call-number {
    border: none;
    background: none;
    color: #3A83F0;
    font-size: 40px;
    text-decoration-line: underline;
    margin-top: 0px;
}

.mail-content {
    display: flex;
    margin-left: 0px;
    margin-top: 45px;
}

.mail_text {
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
}

@media (max-width: 1200px) {
    .content-text {
        margin-left: 100px;
        margin-bottom: 40px;
        font-size: 15px;
    }
    .arrow {
        display: none;
    }
    .information {
        font-size: 35px;
    }
    .INN {
        font-size: 30px;
    }
    .INN_text {
        font-size: 30px;
    }
    .KPP_block {
        font-size: 30px;
    }
    .KPP {
        font-size: 30px;
    }

    .adress {
        font-size: 30px;
    }
    .numbers {
        font-size: 20px;
    }
    .adresstext {
        font-size: 30px;
    }

    .partner_card {
        font-size: 30px;
    }
    .download-card {
        font-size: 20px;
    }
    .card_text {
        font-size: 30px;
    }
    .main_text {
        font-size: 30px;
    }

    .second_text {
        font-size: 30px;
    }
    .second_content {
        font-size: 30px;
    }

    .details-content {
        font-size: 30px;
    }
    .Download-details {
        font-size: 20px;
    }
    .check_text {
        font-size: 30px;
    }
    .bank_text {
        font-size: 30px;
    }
    .correspondent_text {
        font-size: 30px;
    }
    .bik-content {
        font-size: 30px;
    }
    .bik_text {
        font-size: 30px;
    }

    .contacts {
        font-size: 30px;
    }
    .director {
        font-size: 30px;
    }
    .director_text {
        font-size: 30px;
    }
    .phone {
        font-size: 30px;
    }
    .phone_text {
        font-size: 30px;
    }
    .call-number {
        font-size: 30px;
    }
    .mail_text {
        font-size: 30px;
    }
}

@media (max-width: 850px) {
    .content-text {
        margin-left: 80px;
        margin-bottom: 40px;
        font-size: 10px;
    }
    .information {
        margin-left: 40px;
        margin-top: 50px;
        font-size: 25px;
    }
    .information-block {
        margin-left: 50px;
        margin-top: 29px;
    }
    .INN {
        font-size: 20px;
    }
    .INN_text {
        font-size: 20px;
    }
    .KPP_block {
        font-size: 20px;
    }
    .KPP {
        font-size: 20px;
    }

    .adress_block {
        margin-left: 40px;
        margin-top: 50px;
    }
    .adress {
        font-size: 20px;
    }
    .numbers {
        margin-left: 30px;
        font-size: 15px;
    }
    .adresstext {
        margin-left: 50px;
        margin-top: 29px;
        font-size: 20px;
    }

    .partner_card {
        margin-left: 40px;
        margin-top: 50px;
        font-size: 20px;
    }
    .download-card {
        margin-top: 5px;
        font-size: 15px;
    }
    .card-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .card_text {
        font-size: 20px;
    }
    .activity-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .second-activity-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .main_text {
        font-size: 20px;
    }

    .second_text {
        font-size: 20px;
    }
    .second_content {
        font-size: 20px;
    }

    .details-content {
        margin-top: 50px;
        font-size: 20px;
    }
    .Download-details {
        margin-top: 5px;
        font-size: 15px;
    }
    .check_text {
        font-size: 20px;
    }
    .bank_text {
        font-size: 20px;
    }
    .correspondent_text {
        font-size: 20px;
    }
    .bik-content {
        font-size: 20px;
    }
    .bik_text {
        font-size: 20px;
    }

    .contacts {
        margin-left: 40px;
        margin-top: 50px;
        font-size: 20px;
    }
    .check-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .bank-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .correspondent {
        margin-left: 50px;
        margin-top: 29px;
    }
    .bik-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .director {
        font-size: 20px;
        margin-left: 50px;
        margin-top: 29px;
    }
    .director_text {
        font-size: 20px;
    }
    .phone {
        margin-left: 50px;
        margin-top: 29px;
        font-size: 20px;
    }
    .phone_text {
        font-size: 20px;
    }
    .call-number {
        font-size: 20px;
    }
    .mail-content {
        margin-left: 50px;
        margin-top: 29px;
    }
    .mail_text {
        font-size: 20px;
    }
}
