@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap');


input {
    border: none;
    cursor: pointer;
}

button {
    border: none;
}

.up-footer {
    display: flex;
    align-items: center;
    height: 90px;
    padding-left: 40px;

    background: #EEE7DD;
    border-bottom: 1px solid #968B63;
}

.text-list {
    font-family: 'Roboto';
    font-size: 18px;
    margin-left: 13px;

    color: #000000;
}

.home {
    display: flex;
    align-items: center;
    height: 39px;
    margin-right: 50px;
    text-decoration: none;
}

.list-of-employees {
    display: flex;
    align-items: center;
    height: 39px;
    margin-right: 50px;
    text-decoration: none;
}

.archive {
    display: flex;
    align-items: center;
    height: 39px;
    margin-right: 50px;
    text-decoration: none;
}
