* {
    margin: 0;
    padding: 0;
}

.all {
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.one {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}

.one .task-name {
    display: flex;
    align-items: center;
    width: 575px;
    height: 100px;
    background: #EDEBEB;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;

    margin: 80px 0 45px 0;
}

.task-name__style {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    height: 50px;
    margin-top: 15px;
}

.edit_button {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #1bafea;
    margin-left: -120px;
    height: 50px;
    border-radius: 5px;
    margin-top: 15px;
}

.edit .task-name__style {
    border-radius: 8px;
    background: #1BAFEA;
    font-size: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.edit .task-name__styles {
    border-radius: 8px;
    background: #1BAFEA;
    font-size: 30px;
    margin-left: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.one .task-description {
    width: 575px;
    height: 181px;

    background: #EDEBEB;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    margin: 0 0 35px 0;
    display: flex;
    justify-content: left;
}

.edit {
    width: 270px;
    height: 80px;
    color: white;
    border-radius: 5px;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.edit a {
    text-decoration: none;
    color: white;
}

.comment {
    width: 800px;
    height: 100%;
    border: 1px solid #000000;
    border-radius: 14px;
    margin: 40px 0 0 0;
    background: #EDEBEB;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
}

.task_1 {
    width: 600px;
    height: 50px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    background: #BFBDBD;
    margin: 20px 0 0 30px;
    border-radius: 5px;
}


.three {
    background: #EDEBEB;
    display: flex;
    width: 600px;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    border-left: 1px solid black;
    box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
}

.Intelligence {
    margin: 0 0 0 30px;
}

.Executor {
    margin: 0 0 0 30px;
}

.Author {
    margin: 0 0 0 30px;
}

.Priority {
    margin: 0 0 0 30px;
}

.Created {
    display: flex;
    margin: 0 0 0 30px;
}

.dedline {
    display: flex;
    margin: 0 0 0 30px;
}

.date {
    margin: 0 0 0 30px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    border: 1px solid #000000;
    border-radius: 10px;
    height: 50px;

}

@media screen and (max-width: 1715px) {
    .one {
        margin-left: 200px;
    }
}

@media screen and (max-width: 1650px) {
    .one {
        margin-left: 100px;
    }
}

@media screen and (max-width: 1500px) {
    .comment {
        width: 600px;
    }

    .task_1 {
        width: 450px;
        height: 50px;
    }
}

.fake_knopka {
    display: none;
}

.chat {
    overflow: scroll;
    width: 600px;
    height: 200px;
}

::-webkit-scrollbar {
    width: 0;
}
