.view-deadline {
    background: #ECE9E2;
    cursor: context-menu;
}

.name-title-view {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: context-menu;
    box-sizing: border-box;
    padding-left: 13px;

    width: 648px;
    height: 45px;

    background: #ECE9E2;
    border: 1px solid #968B63;
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    letter-spacing: 0.01em;

    color: #000000
}

.name_description-view {
    cursor: context-menu;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 13px;
    margin-top: 19px;
    margin-bottom: 19px;

    width: 648px;
    height: 110px;

    background: #ECE9E2;
    border: 1px solid #968B63;
    border-radius: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    letter-spacing: 0.01em;

    color: #000000;
}

.view-executor {
    display: flex;
    align-items: center;
    text-align: center;
    cursor: context-menu;
    box-sizing: border-box;
    padding-left: 20px;
    margin-right: 23px;

    width: 448px;
    height: 40px;

    background: #ECE9E2;
    border: 1px solid #968B63;
    border-radius: 7px;
}

.update {
    text-decoration: none;
    width: 203px;
    height: 37px;

    background: #91A14D;
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
}

.update-text {
    margin: 0 0 0 35px;
    width: 91px;
    height: 21px;

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 18px;

    color: #FFFFFF;
}