.status-choice {
    box-sizing: border-box;

    margin-left: 56px;
    margin-top: 18px;
    padding-left: 16px;

    width: 141px;
    height: 42px;

    background: #ECE9E2;
    border: 1px solid #968B63;
    border-radius: 8px;
}